body {
	background:#D8D8D8;
}
p {
	display: block;
	color: red;
	font-size: 30px;
}
.tabela {
	table-layout: fixed;
	border: 1px solid;
	background-color:#FFFFFF;
	padding-left: 10px;
	padding-right: 10px;
	text-align:center;
	width:800px;
	border-radius: 5px;
	margin: 100px auto;	
	    box-shadow: 3px 4px 5px rgba(70, 70, 70, 0.77);
}
