body{
    font-family: sans-serif;
}
table{
  width:100%;
}
table{
  border-style: sKolid;
  border-collapse: collapse;
}
td, th{
  border: 1px solid gray;
}
td{
  padding: 8px;
}
table{
	border: 1px solid #ddd;
	border-collapse: separate;
	border-left: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
table {
	width: 100%;
	margin-bottom: 20px;
}
table {
	max-width: 100%;
	background-color: transparent;
	border-collapse: collapse;
	border-spacing: 0;
}
