/* ======================================*/
/*  Thomas Lage - lage.thomas@gmail.com  */
/*=======================================*/
/* ===========================> FOCUS <=========================== */

/* INPUT DE BUSCA NA PÃGINA */
#content {
  background: none repeat scroll 0 0 var(--bodycolor-w);
}

/* ITENS ATIVOS */
#sidebar > ul > li.active a {
  background-color: #525a64;
  color        : #ffffff;
  border-radius: 5px;
}
#user-nav > ul > li > a:hover,#user-nav > ul > li.open > a {
  color: #090909;
}

#sidebar > ul > li > a:hover {
  background-color: #909eb5;
  color        : #fff;
  border-radius: 5px;
}

.visualizar:hover {
  background-color: #548b54;
}

.widget-box,
.widget-box0,
.widget-box1,
.widget-box2,
.widget-box-new,
.widget-box-statist {
  background: var(--widget-box-w);
  border    : 1px solid rgb(0 0 0 / 8%);
  box-shadow: 0 0 10px rgb(0 0 0 / 4%);
}

/* LOGO */
#newlog .title01 {
  color: var(--subtitle-w);
}

#sidebar li .title-tooltip {
  background   : #6c6e78;
  color        : #fff;
}

#sidebar li .icon,
#sidebar li .title {
  color     : var(--title-w);
  transition: var(--tran-02);
}
#sidebar > ul li ul li a:hover {
  background-color: #2c88ff;
}

#user-nav > ul > li > a:hover {
  opacity: 0.7;
}

#sidebar > ul > li > a > .label:hover {
  background-color: #ffffff;
}

.quick-actions li a:hover {
  border-radius: 5px;
}

body {
  background: var(--bodycolor-w);
}

#sidebar > ul > li {
  border: none !important;
}

#sidebar > ul > li > ul {
  background-color: #fbfcff;
}

#sidebar > ul li ul li a {
  color: black;
}

#sidebar {
  background  : var(--bodycolor-w);
  border-right: 1px solid rgba(0, 0, 0, 0.08);
}

#sidebar > ul {
  border: none;
}

#user-nav > ul > li > a > i,
#sidebar li a i {
  opacity: 0.99;
}

#sidebar > ul > li > a {
  color: #72737a;
}

#sidebar li a:hover {
  background: #25262620;
}

#sidebar li a:hover .iconX,
#sidebar li a:hover .title {
  color: #000;
}
#sidebar li.active {
  background: #c5d1d6;
}

#sidebar li.active .iconX,
#sidebar li.active .title {
  color: #04395b;
}

#newlog .title1 {
  color: var(--title-w);
}

.cardBox .card {
  background: #ffffff;
}

.tempo-carga {
  color : #787878;
  margin: 10px 0 0 20px;
}

.icon-time {
  color: #000000 !important;
}

.navebarn {
  background-color: var(--bodycolor-w);
}

#header {
  background-color: var(--bodycolor-w);
}

#breadcrumb a {
  color: var(--cinza0);
    border: 1px solid var(--cinza0);
}

#breadcrumb a:hover {
  color: #ffffff;
  background: var(--cinza0);
}

.textoHora {
  color: #000000;
}

#user-nav > ul > li {
  border-top   : none;
  border-bottom: none;
  padding      : 0;
}

#user-nav > ul {
  border-left: none;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
  color: #8c98a5;
  text-shadow: none;
}

#sidebar .search-box {
  background: var(--bodycolor-w);
  border    : 1px solid rgb(0 0 0 / 20%);
}

.search-box input {
  background: var(--bodycolor-w);
  color: var(--widget-box-c);
}

#search input[type="text"] {
  color           : #8c98a5;
  background-color: #ffffff;
}

#search button {
  border-radius   : 5px;
  background-color: #ffffff;
}

#search button i {
  color: black;
}

.bemv {
  color: var(--subtitle-w);
}

.fc-direction-ltr .fc-button-group > .fc-button:not(:last-child) {
  background: #f3f4f6;
}

.fc-direction-ltr .fc-button-group > .fc-button:not(:first-child) {
  background: #f3f4f6;
}

.btn [class^="icon-"],
.nav [class^="icon-"] {
  color: #ffffff;
}

#userr .userT0 {
  color: var(--subtitle-w);
}

.visualizar {
  background-color: #7ccd7c;
}

#header h1 {
  background-color: #f2f2f2;
}

#footer {
  background: var(--bodycolor-w);
  border-top: 1px solid rgb(0 0 0 / 5%);
}

.new-bottons .card:hover {
  text-decoration: none;
  background     : #fbf8f8;
}

.widget-box0 .cards:nth-child(1) {
  background-color: #cdcfdf;
  color: #252341;
}

#sidebar .text-white {
  color: #292929;
}

.cardBox .card,
.cardBox .card-cl {
  box-shadow: 0 5px 10px rgb(0 0 0 / 8%);
}

.cardBox .card .numbers {
  position   : relative;
  font-weight: 500;
  font-size  : 1.3em;
  color      : #0d0d10;
}

.cardBox .card .iconBx {
  font-size: 3.3em;
  color: #292929;
  text-decoration: none;
  text-shadow    : 0 1px 6px rgb(249 246 246 / 10%);
}

/* Responsive design */
@media (min-width: 481px) and (max-width: 768px) {
  #sidebar .mode {
    background: #ffffff30 !important;
    color     : #51576c !important;
  }
}

@media (max-width: 480px) {
  #sidebar.open .toggle {
    background: var(--funSider-w);
  }

  #sidebar {
    background  : var(--funSider-w) !important;
  }

  #sidebar .mode {
    background: #ffffff30 !important;
    color     : #51576c !important;
  }

  #sidebar > ul li span {
    color: #000;
  }
}
